.input-drag {
  text-align: center;
  float: left;
  position: absolute !important;
  opacity: 0.6;
}
.input-drag input[type="text"] {
  letter-spacing: 6.4px;
  padding-left: 2px;
  font-size: 14px;
  background: white;
  height: 23px;
  width: 100%;
}
.input-resize {
  width: 100%;
  height: 50px;
  min-width: 50px;
  background: yellow;
  text-align: center;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.checkbox-inline input[type=checkbox],
.checkbox input[type=checkbox],
.radio-inline input[type=radio],
.radio input[type=radio] {
  margin: 0;
  position: relative;
}
#element-params label {
  width: 25%;
  float: left;
}
#form-canva {
  position: relative;
}
.checkbox,
.radio {
  position: relative;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}
